
body {
    color: #999999;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    margin: 0;
    min-height:100%; 
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top : 20px;
}
/* Menu bar background color */
.navigation,
.nav li ul li,
.nav li ul li a {
    background: #39668E;
}

/* Menu Item text color */
    .name,
    .nav li a,
    .nav li a:hover,
    .nav li ul li,
    .nav li ul li a,
    .nav li ul li a:hover {
        color: #fff;
        width:100% ;
        text-align : center;
    }

/* Menu Item background color on hover */

.nav li a:hover,
.nav li ul li a:hover {
    background: #fff;
    color: #808080
}

.nav li,
.nav li ul li {
    width: 140px
}

/* Text Shadow */
.nav li a,
.nav li a:hover,
.nav li ul li a:hover {
    text-shadow: 0 1px 1px #333;
}

/* Search form colors */
.searchform input, .searchform input:not(:focus) {
    color: #B1B1B1; /*search form text color default*/
    background: #fff; /*search form background color default*/
}

.searchfield:focus {
    color: #000; /* search form text color after click */
}
/* /КОНЕЦ Цветовой схемы */

.nav-bar {
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* Free space to top specialy for menu */

.navigation {
    position: fixed;
}

.navigation, .nav-bar {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-bar, .navigation, .top-menu, .nav {
    height: 38px; /* menu height */
}

.top-menu {
    width: 90%;
    margin: 0 auto; /*center the menu*/
    padding: 0;
    position: relative;
}

.nav {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Arial', Helvetica, sans-serif;
}

.nav li a, .nav li {
    float: left;
}

.nav li {
    list-style: none;
    position: relative;
}

.nav li a {
    line-height: 38px;
    padding: 0 15px;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/*====================
Подменю 
=====================*/
.nav li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    margin: 0;
}
/* стереть подменю */

.nav li:hover > ul {
    display: block;
}
/* show submenu on hover */

.nav li ul li, .nav li ul li a {
    float: none;
    height: 35px; /* submenu item height */
    width: 140px; /* submenu item minimal width */
    line-height: 35px;
    border-right: 0;
    text-shadow: none;
    display: block;
    font-size: 13px;
    font-weight: 400;
    text-transform: inherit;
    border-bottom: 2px solid #fff;
}
/* Submenu item */

.nav li ul li {
    _display: inline; /* for IE */
}

/* == 12. Sub-Sub Menu == */
.nav li ul li ul {
    display: none;
}

.nav li ul li:hover ul {
    left: 100%;
    top: 0;
}




            /*========================
        Переходы
========================*/

.nav li a:hover,
.nav li ul li a:hover {
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, ease-out;
}

.searchfield:focus,
.searchfield:not(:focus) {
    -webkit-transition-property: width;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, ease-out;
}

.nav-bar:hover,
.navigation:hover,
.nav li ul a,
.menu_div,
.navigation,
.nav li a,
.nav-bar:not(:hover),
.navigation:not(:hover) {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s, 0.5s; /* duration in seconds */
    -webkit-transition-timing-function: linear, ease-out;
}
/* Анимация прозрачности */

.center {
    width: 960px;
    margin: 0 auto; /*center the menu*/
    padding: 0;
    position: relative;
}


.nav li.current a {
    background: #fff;
    color: #808080
}
