<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout">


  
<section class="jumbotron container" layout:fragment="content" >

        <header class="showcase">
            <h1>Alfa-Hospital</h1>
            <p><b>Système de gestion hospitalière</b></p>
            <div class="btn">
                Rendez-Vous
            </div>
        </header>
        <div class="test">
            <br />
            <center>
                <h1>
                    Pourquoi et comment mettre en place un système de gestion d’un hopitale?
                </h1>
            </center>
            <hr />
            <p>
                
                Un système d'information hospitalier (abrégé SIH) est un système d'information appliqué au secteur de la santé,
                et plus particulièrement aux établissements de santé
            </p>
            <br />
            <p>
               L'objectif : adopter une position commune, autour des soins les plus adaptés. Les Groupements Hospitaliers de Territoire étant composés de plusieurs hôpitaux,
               le parcours d'un patient concerne désormais plusieurs établissements, plusieurs spécialistes, et la gestion hospitalière devient un enjeu clé. 
            </p>
            <div id="imga"></div><br>
	            <center><h1>Comment Alfa-Hospial peut améliorer l'organisation de votre hopital?</h1></center>
	            <br />
	            <p>Le Système d'Information Hospitalier couvre l'ensemble des informations utilisées dans un établissement de santé. La performance d’un système d’information dépend de multiples facteurs.
	             Un de ceux-ci est le facteur humain. Celui-ci va percevoir plus ou moins les enjeux d’une mise en commun d’informations vers un même objectif : une réponse adaptée, sécurisée à la demande
	             de soins de la population dans un contexte économique tournée dorénavant vers l’efficience
	            </p>
	            <br />
	            <p>Alfa-Hospital intègre les concepts liés à la gestion des organisations de santé pour promouvoir les prises de décisions judicieuses à l'aide d'une vision stratégique,
	             contribuant ainsi à améliorer l´offre de services de qualité aux utilisateurs.</p>
    		</div>
</section>
    
</html>